
<nav class="navbar navbar-light ">
  <div class="container-fluid row mt-1">
    <div class="col-lg-4 ">
      <div class="row small">
        <div class="col-2">

          <a class="navbar-brand" href="#">
            <img src="./assets/image/HomePage/logo-mobile.svg" alt="logo" width="40" height="34" class="d-inline-block align-text-top">
          </a>
        </div>
        <div class="col-6">

        <b class=" ">New <br class="ms-2">Home</b>
        </div>
      </div>

</div>
<div class="col-lg-4">
  <mat-toolbar class="bg-white text-decoration-none" >
    <a mat-button routerLink="" routerLinkActive="active">HOME</a>

    <a mat-button>PAGES</a>
    <a mat-button routerLink="/property" routerLinkActive="active">PROPERTY</a>
  </mat-toolbar>
</div>
<div  class="col-lg-3">
  <mat-icon fontSet="material-icons-outlined" fontIcon="account_circle"></mat-icon>
  <button type="button" class="btn btn-light">join us</button>
  <button class="btn btn-primary row ms-2" >
   <!-- <div class=" col"> <mat-icon  >add</mat-icon>
  </div> -->
  <div class=" col"> Add property</div>
    </button>
  </div>
</div>
</nav>
